{% extends "base.html" %}
{% block content %}
<div class="container-fluid px-4">
    <!-- Bảng -->
    <div class="card mb-4">
        <div class="card-header">
            <i class='bx bxs-user-rectangle me-1'></i>
            Thông Tin Sinh Viên
        </div>

        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Mã Số Sinh Viên</th>
                        <th>Họ và Tên</th>
                        <th>Ngày Sinh</th>
                        <th>Đang Học Lớp</th>
                        <th>Số Điện Thoại</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã Số Sinh Viên</th>
                        <th>Họ và Tên</th>
                        <th>Ngày Sinh</th>
                        <th>Đang Học Lớp</th>
                        <th>Số Điện Thoại</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for sinhvien in ds_sinhvien %}
                    <tr>
                        <td>{{ sinhvien.MaSV }}</td>
                        <td>{{ sinhvien.HoTenSV }}</td>
                        <td>{{ sinhvien.NgSinhSV|date:"d/m/Y" }}</td>
                        <td>{{ sinhvien.lop }}</td>
                        <td>{{ sinhvien.SDTSV }}</td>
                        <td>{{ sinhvien.EmailSV }}</td>
                        <td class="text-center"><a class="btn py-0" href="{% url 'sv_edit' sinhvien.pk %}"><i class="fa-solid fa-pencil"></i> Sửa</a></td>
                        <td class="text-center"><i class="fa-solid fa-trash"></i> Xóa</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        

        <!-- Modal sửa thông tin -->
        <div class="modal fade" id="addAdvisorModal" tabindex="-1"
            aria-labelledby="addAdvisorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addAdvisorModalLabel">Thêm Thông Tin sinh Viên</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form nhập thông tin sinh viên -->
                        <form id="advisorForm">
                            <div class="mb-3">
                                <label for="maSinhVien" class="form-label">Mã Số Sinh Viên <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="maGiangVien" required>
                            </div>
                            <div class="mb-3">
                                <label for="hoTen" class="form-label">Họ và Tên <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="hoTen" required>
                            </div>
                            <div class="mb-3">
                                <label for="ngaysinh" class="form-label">Ngày Sinh <span
                                        class="text-danger">*</span></label>
                                <input type="date" class="form-control" id="ngaysinh" required>
                            </div>
                            <div class="mb-3">
                                <label for="lop" class="form-label">Đang Học Lớp <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lop" required>
                            </div>
                            <div class="mb-3">
                                <label for="soDienThoai" class="form-label">Số Điện Thoại <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="soDienThoai" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email <span
                                        class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="trangthai" class="form-label">Trạng Thái<span
                                        class="text-danger">*</span></label>
                                <select id="trangthai" class="form-select">
                                    <option value="danghoc">Đang Học</option>
                                    <option value="danghi">Đã Nghỉ</option>
                                </select>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" id="saveAdvisor">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3 text-end">
        <a class="btn btn-primary text-white me-2" href="{% url 'sv_create' %}">Thêm</a>
    </div>
{% endblock content %}