{% extends "student.html" %}
{% block content %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
<div class="modal-content">
<div class="modal-header">
    <h5 class="modal-title" id="addAdvisorModalLabel">Sửa thông tin sinh viên</h5>
  <div>
    <form id="advisorForm" method="post">
      {% csrf_token %}
      <div class="modal-body">
        <!-- Form nhập thông tin sinh viên -->      
          <div class="mb-3">
            <label for="MaSV" class="form-label">Mã Số Sinh Viên</label>
            <input type="text" class="form-control" id="MaSV" name="MaSV" value="{{ sinhvien.MaSV }}" readonly>
          </div>
          <div class="mb-3">
            <label for="HoTenSV" class="form-label">Họ và Tên <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="HoTenSV" name="HoTenSV" value="{{ sinhvien.HoTenSV }}" required>
          </div>
          <div class="mb-3">
            <label for="NgSinhSV" class="form-label">Ngày sinh <span class="text-danger">*</span></label>
            <input type="date" max="{{ curr_year }}-01-01" class="form-control" id="NgSinhSV" name="NgSinhSV" value="{{ sinhvien.NgSinhSV|date:"Y-m-d" }}" required>
          </div>
          <div class="mb-3">
            <label for="tenlop" class="form-label">Học lớp</label>
            <input type="text" class="form-control" id="tenlop" value="{{ lop.TenLop }}" readonly>
          </div>
          <input type="hidden" id="lop" name="lop" value="{{ lop.MaLop }}" />  
          <div class="mb-3">
            <label for="SDTSV" class="form-label">Số Điện Thoại <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="SDTSV" name="SDTSV" value="{{ sinhvien.SDTSV }}" required>
          </div>
          <div class="mb-3">
            <label for="EmailSV" class="form-label">Email <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="EmailSV" name="EmailSV" value="{{ sinhvien.EmailSV }}" required>
          </div>    
          <div class="mb-3">
            <label for="tencovan" class="form-label">Cố vấn</label>
            <input type="text" class="form-control" id="tencovan" value="{{ covan.HoTenCV }}" readonly>
          </div>
          <input type="hidden" id="covan" name="covan" value="{{ covan.MaCV }}" />  
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Lưu</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
