{% extends "student.html" %}
{% block content %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
<div class="modal-content">
<div class="modal-header">
    <h5 class="modal-title" id="addAdvisorModalLabel">Thêm Lịch Hẹn</h5>
  </div>
  <form id="advisorForm" method="post">
    {% csrf_token %}
  <div class="modal-body">
    <!-- Form nhập thông tin sinh viên -->
    <input type="hidden" id="MaH" name="MaH" value="{{ MaLH }}"/>
    <input type="hidden" id="covan" name="covan" value="{{ covan.MaCV }}"/>
      <div class="mb-3">
        <label for="maGiangVien" class="form-label">Giảng viên</label>
        <input type="text" class="form-control" value="{{ sinhvien.covan }}">
      </div>
      <div class="mb-3">
        <label for="maSinhVien" class="form-label">Mã Số Sinh Viên</label>
        <input type="text" class="form-control" id="SinhVien" name="SinhVien" value="{{ sinhvien.MaSV }}">
      </div>
      <div class="mb-3">
        <label for="tenbuoihen" class="form-label">Tên Buổi Hẹn<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="TenBuoiHen" name="TenBuoiHen" required>
      </div>
      <div class="mb-3">
        <label for="ngay" class="form-label">Ngày<span class="text-danger">*</span></label>
        <input type="date" class="form-control" id="NgayHen" name="NgayHen" required>
      </div>
      <div class="mb-3">
        <label for="gio" class="form-label">Giờ<span class="text-danger">*</span></label>
        <input type="time" class="form-control" id="GioHen" name="GioHen" required>
      </div>
      <div class="mb-3">
        <label for="diadiem" class="form-label">Địa Điểm<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="DiaDiem" name="DiaDiem" required>
      </div>
      <input type="hidden" id="TrangThai" name="TrangThai" value="Chưa xác nhận" />
    
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" id="saveAdvisor">Gửi</button>
  </div>
</form>
</div>
{% endblock content %}
</div>