{% extends "student.html" %}
{% block content %}
<div class="mb-3 text-end" style="padding-top: 10px;">
  <button class="btn btn-warning text-white" id="btnNotification" data-bs-toggle="modal"
    data-bs-target="#notificationModal">
    <i class="fas fa-bell"></i>
  </button>
</div>

<!-- form chứa danh sách tin nhắn -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notificationModalLabel">Tin Nhắn Đến</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Danh sách tin nhắn -->
        <ul id="messageList" class="list-group">
          <!-- Nơi chưuas tin nhắn -->
          {% for thongbao in ds_thongbao %}
          <li>{{ thongbao.NoiDung }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h2 class="border-bottom pb-2 mb-0" style="color: #3340d0;   font-weight: bold;">Lịch Hẹn</h2>
  <div class="table-container" style="padding-top:20px;">
    <table class="table">
      <tbody>
        <tr>
          <th style="color: #0056b3">Mã Giảng Viên</th>
          <th style="color: #0056b3">Tên Buổi Hẹn</th>
          <th style="color: #0056b3">Ngày</th>
          <th style="color: #0056b3">Giờ</th>
          <th style="color: #0056b3">Địa Điểm</th>
          <th style="color: #0056b3">Trạng Thái</th>
          <th style="color: #0056b3"></th>
          <th style="color: #0056b3"></th>
        </tr>
        {% comment %} <tr>
          <td style="color: #0056b3">110122249</td>
          <td style="color: #0056b3">110125485</td>
          <td style="color: #0056b3">Trao đổi CSN</td>
          <td style="color: #0056b3">10/10/2024</td>
          <td style="color: #0056b3">16:00 PM</td>
          <td style="color: #0056b3">C71.102</td>
          <td style="color: #0056b3">Đã Hẹn</td>
        </tr> {% endcomment %}
        {% for lichhen in ds_lichhen %}
        <tr>
          <td style="color: #0056b3">{{ lichhen.covan }}</td>
          <td style="color: #0056b3">{{ lichhen.TenBuoiHen }}</td>
          <td style="color: #0056b3">{{ lichhen.NgayHen|date:"d/m/Y" }}</td>
          <td style="color: #0056b3">{{ lichhen.GioHen }}</td>
          <td style="color: #0056b3">{{ lichhen.DiaDiem }}</td>
          <td style="color: #0056b3">{{ lichhen.TrangThai }}</td>
          {% if lichhen.TrangThai == "Đã xác nhận" %}
          <td></td>
          <td style="color: #0056b3"><a class="btn py-0" href="{% url 'cancel_sv' lichhen.pk %}"><i class="fa-solid fa-trash"></i> Yêu cầu hủy</a></td>
          {% elif lichhen.TrangThai == "Đã hủy" or lichhen.TrangThai == "Đã gặp" or lichhen.TrangThai == "Yêu cầu hủy" or lichhen.TrangThai == "Vắng" %}
          <td></td>
          <td></td>
          {% else %}
          <td style="color: #0056b3"><a class="btn py-0" href="{% url 'sv_lh_edit' lichhen.pk %}"><i class="fa-solid fa-pencil"></i> Sửa</a></td>
          <td></td>
          {% endif %}          
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="mb-3 text-end" style="padding-top: 10px;">
      <a class="btn btn-primary text-white me-2" href="{% url 'sv_lh_create' %}">Tạo lịch hẹn</a>
    </div>
  </div>
</div>
{% endblock content %}