{% extends "base.html" %}
{% block content %}
<div class="mb-3 text-end">
    <button class="btn btn-warning text-white" id="btnNotification" data-bs-toggle="modal" data-bs-target="#notificationModal">
        <i class="fas fa-bell"></i>
    </button>
</div>

<!-- Modal chứa danh sách tin nhắn -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel">Tin Nhắn Đến</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Danh sách tin nhắn -->
                <ul id="messageList" class="list-group">
                    <!--Nơi chưas tin nhắn-->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid px-4">
    <!-- Bảng -->
    <div class="card mb-4">
        <div class="card-header">
            <i class='bx bxs-user-rectangle me-1'></i>
            Lịch Hẹn
        </div>

        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Sinh Viên</th>
                        <th>Tên Buổi Hẹn</th>
                        <th>Ngày </th>
                        <th>Giờ</th>
                        <th>Địa Điểm</th>
                        <th>Trạng Thái</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sinh Viên</th>
                        <th>Tên Buổi Hẹn</th>
                        <th>Ngày </th>
                        <th>Giờ</th>
                        <th>Địa Điểm</th>
                        <th>Trạng Thái</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for lichhen in ds_lichhen %}
                    <tr>
                        <td>{{ lichhen.SinhVien }}</td>
                        <td>{{ lichhen.TenBuoiHen }}</td>
                        <td>{{ lichhen.NgayHen }}</td>
                        <td>{{ lichhen.GioHen }}</td>
                        <td>{{ lichhen.DiaDiem }}</td>
                        <td>{{ lichhen.TrangThai }}</td>
                        <td style="color: #0056b3"><a class="btn py-0" href="{% url 'cv_lh_edit' %}"><i class="fa-solid fa-pencil"></i> Sửa</a></td>
                        <td style="color: #0056b3"><a class="btn py-0"><i class="fa-solid fa-trash"></i> Hủy</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="mb-3 text-end">
                <a class="btn btn-primary text-white me-2" href="{% url 'cv_lh_create'%}">Hẹn</a>
            </div>
        </div>

        <!-- Modal sửa thông tin -->
        <div class="modal fade" id="addAdvisorModal" tabindex="-1"
            aria-labelledby="addAdvisorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addAdvisorModalLabel">Thêm Lịch Hẹn</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form nhập thông tin sinh viên -->
                        <form id="advisorForm">
                            <div class="mb-3">
                                <label for="maGiangVien" class="form-label">Mã Số Giảng Viên <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="maGiangVien" required>
                            </div>
                            <div class="mb-3">
                                <label for="maSinhVien" class="form-label">Mã Số Sinh Viên <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="maSinhVien" required>
                            </div>
                            <div class="mb-3">
                                <label for="tenbuoihen" class="form-label">Tên Buổi Hẹn<span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="tenbuoihen" required>
                            </div>
                            <div class="mb-3">
                                <label for="ngay" class="form-label">Ngày<span
                                        class="text-danger">*</span></label>
                                <input type="date" class="form-control" id="ngay" required>
                            </div>
                            <div class="mb-3">
                                <label for="gio" class="form-label">Giờ<span
                                        class="text-danger">*</span></label>
                                <input type="time" class="form-control" id="gio" required>
                            </div>
                            <div class="mb-3">
                                <label for="diadiem" class="form-label">Địa Điểm<span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="diadiem" required>
                            </div>
                            <div class="mb-3">
                                <label for="trangthai" class="form-label">Trạng Thái<span
                                        class="text-danger">*</span></label>
                                <select id="trangthai" class="form-select">
                                    <option value="dahen">Đã Hẹn</option>
                                    <option value="Huyhen">Đã Hủy Hẹn</option>
                                </select>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" id="saveAdvisor">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}