{% extends "student.html" %}
{% block content %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h2 class="border-bottom pb-2 mb-0" style="color: #3340d0;   font-weight: bold;">Thông Tin Cố Vấn</h2>
  <div class="table-container" style="padding-top:20px;">
    <table class="table">
      <tbody>
        <tr>
          <th style="color: #0056b3">Mã Giảng Viên</th>
          <td style="color: #0056b3">12345678</td>
        </tr>
        <tr>
          <th style="color: #0056b3">Họ và Tên</th>
          <td style="color: #0056b3">Nguyễn Văn A</td>
        </tr>
        <tr>
          <th style="color: #0056b3">Ngày Sinh</th>
          <td style="color: #0056b3">01/01/1990</td>
        </tr>
        <tr>
          <th style="color: #0056b3">Đang Cố Vấn Lớp</th>
          <td style="color: #0056b3">DA22TT</td>
        </tr>
        <tr>
          <th style="color: #0056b3">Số Điện Thoại</th>
          <td style="color: #0056b3">0339876542</td>
        </tr>
        <tr>
          <th style="color: #0056b3">Email</th>
          <td style="color: #0056b3">Abc@gmail.com</td>
        </tr>
        <tr>
          <th style="color: #0056b3">Khoa</th>
          <td style="color: #0056b3">Kỹ thuật và Công nghệ</td>
        </tr>
        <tr>
          <th style="color: #0056b3">Đơn Vị Công Tác</th>
          <td style="color: #0056b3">Bộ môn Công nghệ Thông tin</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}